@import url(https://fonts.googleapis.com/css?family=Play);


* {
	margin: 0;
	border: 0;
	padding: 0;
	vertical-align: baseline;
	font-family: "Play", serif;
}
.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}
#wrapper {
	background-color: #bababa;
	width: 100%;
	height: 100%;
}

/* THIS IS THE HEADER */
#header {
	width: 100%;
	height: 100px;
	background-color: #292929;
	color: white;
	position: relative;
	border-bottom: 3px solid black;
}
#banner {
	float: left;
	width: 300px;
	height: 60px;
	text-align: center;
	margin-top: 15px;
}
#banner2 {
	float: right;
	width: 300px;
	height: 60px;
	text-align: center;
	margin-top: 15px;
}
#banner3 {
	float: center;
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
	width: 500px;
	height: 60px;
	position: absolute;
	left: 33%;
}
#disclaimer {
	background-color: #333333;
	color: white;
	width: 100%;
	border-bottom: 3px solid black;
}
#disclaimer h3 {
	padding-top: 15px;
	padding-left: 15px;
}
#disclaimer p {
	padding-left: 35px;
	padding-top: 5px;
	padding-bottom: 15px;
	padding-right: 15px;
}
#disclaimer p a {
	color: #af4242;
	text-decoration: none;
}

/* THIS IS THE CHEMISTRY */

#Chemistry {
	border-bottom: 2px solid black;
}
#Chemistry h1 {
	text-align: center;
	padding-top: 15px;
	color: white;
	text-shadow: 2px 2px 2px black;
}
#Chemistry table {
	margin: 0 auto;
	border: 1px solid black;
	margin-bottom: 15px;
	margin-top: 15px;
}
#Chemistry table caption {
	color: white;
	font-weight: bold;
	text-shadow: 2px 2px 2px black;
	padding-bottom: 10px;
	padding-top: 10px;
	font-size: 18px;
}
#Chemistry table tr td {
	border: 1px solid black;
	padding: 3px;
	padding-left: 5px;
	padding-right: 5px;
	text-align: center;
	font-weight: bold;
}
#Chemistry table tr:nth-child(even) {
	background-color: #ccc;
}
#Chemistry table tr:nth-child(odd) {
	background-color: #FFF;
}
#bicard {
	color: #9f3122;
	font-weight: bold;
	text-shadow: 1px 1px 1px black;
}
#derma {
	font-weight: bold;
	color: #e6d250;
	text-shadow: 1px 1px 1px black;
}
#dylo {
	font-weight: bold;
	color: #61d94d;
	text-shadow: 1px 1px 1px black;
}
#space {
	font-weight: bold;
	color: #ebebeb;
	text-shadow: 1px 1px 1px black;
}
#dexplus {
	font-weight: bold;
	color: #4d66fa;
	text-shadow: 1px 1px 1px black;
}
#peri {
	font-weight: bold;
	color: #7730a9;
	text-shadow: 1px 1px 1px black;
}
#rye {
	font-weight: bold;
	color: #1e610f;
	text-shadow: 1px 1px 1px black;
}
#inap {
	font-weight: bold;
	color: #68f3f1;
	text-shadow: 1px 1px 1px black;
}
#alk {
	font-weight: bold;
	color: #ebf593;
	text-shadow: 1px 1px 1px black;
}
#arith {
	font-weight: bold;
	color: #3ead07;
	text-shadow: 1px 1px 1px black;
}
#trama {
	font-weight: bold;
	color: #f3aedc;
	text-shadow: 1px 1px 1px black;
}
#tricord {
	font-weight: bold;
	color: #9a4faf;
	text-shadow: 1px 1px 1px black;
}
#synap {
	font-weight: bold;
	color: #cff5fd;
	text-shadow: 1px 1px 1px black;
}
#hyro {
	font-weight: bold;
	color: #3d921e;
	text-shadow: 1px 1px 1px black;
}
#cita {
	font-weight: bold;
	color: #ffaaba;
	text-shadow: 1px 1px 1px black;
}
#imidazo {
	font-weight: bold;
	color: #f1cec7;
	text-shadow: 1px 1px 1px black;
}
#clone {
	font-weight: bold;
	color: #b6f9ff;
	text-shadow: 1px 1px 1px black;
}
#drunk {
	font-weight: bold;
	color: #5f5f5f;
	text-shadow: 1px 1px 1px black;
}
#chloral {
	font-weight: bold;
	color: #3d1c66;
	text-shadow: 1px 1px 1px black;
}
#spacecleaner {
	font-weight: bold;
	color: #e5e5e5;
	text-shadow: 1px 1px 1px black;
}

/* THIS IS THE LAWS */

#Laws {
	border-bottom: 2px solid black;
	margin-top: 35px;
}
#Laws h1 {
	color: white;
	text-align: center;
	text-shadow: 2px 2px 2px black;
	margin-top: 35px;
}
#Laws h2 {
	color: white;
	text-align: center;
	text-shadow: 2px 2px 2px black;
	margin-top: 15px;
}
#bioLaws {
	text-align: center;
	font-weight: bold;
	margin-top: 10px;
	padding-bottom: 10px;
}
#low {
	color: #FFEE55;
}
#med {
	color: #FFAA55;
}
#high {
	color: #FF8855;
}
#Laws2 h3 {
	margin-left: 55px;
	color: white;
	font-weight: bold;
	text-shadow: 2px 2px 2px black;
	border-top: 2px solid black;
	width: 85%;
	margin-top: 25px;
}
#law {
	font-weight: bold;
	padding-left: 100px;
	padding-top: 15px;
}
